<!DOCTYPE html>
<html>
<head>
    <title>Вход в статистику</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Вход в статистику</h2>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post">
            <label>
                Логин:
                <input type="text" name="username" required>
            </label>
            <label>
                Пароль:
                <input type="password" name="password" required>
            </label>
            <button type="submit">Войти</button>
        </form>
        <div class="copyright">
            © 2025 <a href="https://github.com/Makar-aka" target="_blank">MakarSPB</a>
        </div>
    </div>
</body>
</html>